{% extends "pizzas/base.html" %}

{% block page_header %}
    <h1>Pizzas</h1>
{% endblock page_header %}

{% block content %}
    <ul>
        {% for Pizza in Pizzas %}
        <li><h3>
            <a href="{% url 'pizzas:pizza' pizza.id %}">{{ pizza }}</a>
        </h3></li>
        {% empty %}
        <li><h3>No pizzas have been added yet.</h3></li>
        {% endfor %}
    </ul>

{% endblock content %}


<!-- 
    <p>Pizzas</p>
    <ul>
        {% for pizza in pizzas %}
        <li>
            <a href="{% url 'pizzas:pizza' pizza.id %}">{{ pizza }}</a>
        </li>
        {% empty %}
        <li>No pizzas have been added yet.</li>
        {% endfor %}
    </ul>
 -->