{% extends "pizzas/base.html" %}

{% block page_header %}
    <h1>pizzas</h1>
{% endblock page_header %}

{% block content %}
    <ul>
        {% for pizza in pizzas %}
        <li> 
            <a href="{% url 'pizzas:pizza' pizza.id %}">{{ pizza }}</a>
        </li>
        {% empty %}
        <li><h3>No pizzas have been added yet.</h3></li>
        {% endfor %}
    </ul>

{% endblock content %}


<!-- 
    <p>pizzas</p>
    <ul>
        {% for pizza in pizzas %}
        <li>
            <a href="{% url 'pizzas:pizza' pizza.id %}">{{ pizza }}</a>
        </li>
        {% empty %}
        <li>No pizzas have been added yet.</li>
        {% endfor %}
    </ul>
 -->