{% extends "pizzas/base.html" %}

{% block page_header %}
    <h3>{{ pizza }}</h3>
{% endblock page_header %}

{% block content %}

    {% for Topping in Toppings %}
    <div class="card mb-3"> 
        {{ Topping.name|linebreaks }}
    </div>
    {% empty %}
    There are no toppings for this pizza yet.
    {% endfor %}

    <h3>Comments:</h3>

    {% for Comment in Comments %}
    <div class="card mb-3">
        {{ Comment.text|linebreaks }}
    </div>
    {% empty %}
    There are no comments for this pizza yet.
    {% endfor %}

    <p>
        <a href="{% url 'pizzas:New_Comment' pizza.id %}">Add new comment</a>
    </p>

{% endblock content %}


<!-- 
    <p>Pizza: {{ pizza }}</p>
    <ul>
        {% for topping in toppings %}
        <li>
            <p>{{ topping.name|linebreaks }}</p>
        </li>
        {% empty %}
        <li> There are no toppings for this pizza yet.</li>
        {% endfor %}
    </ul>
    <p>Comments:</p>
    <ul>
        {% for comment in comments %}
        <li>
            <p>{{ comment.text|linebreaks }}</p>
        </li>
        {% empty %}
        <li> There are no comments for this pizza yet.</li>
        {% endfor %}
    </ul>
    <p>
        <a href="{% url 'pizzas:new_comment' pizza.id %}">Add new comment</a>
    </p>
 -->